body{
	background:url("lightning.jpg");
	background-size:cover;
	color:white;
	font-family:"Times New Roman" Times, Georgia, serif; 
}

h1{

	font-weight: bold;
	text-align:center;
	text-shadow: 1px 1px navy;
}

p{
	text-align:justify;
	padding: 4px;
	margin: 3px;
}

ul{
	text-align: left;
}
.center {
  background-color: rgba(20, 20, 20, 0.6);
  display: block;
  margin: 0 auto;
  width: 40%;
  text-align: center;
  padding-top: 1%;
}

.row {
   display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 30px; /*Optional*/
  background-color: rgba(20,20,20, 0.6);

}

.column{
 	display: table-cell;
    
}

img{
	height: 100%;
	width: 100%;
	border: black 1px solid;
}

figcaption{
	text-align: center;
}

img:hover:not(.notHoverable){
	border: white 1px solid;
}
a{
	text-decoration: none;
	color:white;
}
